## Power Dips

In the original data, the power seems to dip to 0 at night. Because this trend is not reflected in the grid power consumed, the PV created, or the battery power used, it is presumed that this is because of some external factor - such as perhaps wifi turning off at night.

Starting in the first timestep we will copy all the na and 0 values from the original data over to the new data.

In [1]:
import pandas as pd
df_clean = pd.read_csv("00_raw/baseline_Building_1.csv")
df_clean = df_clean.reset_index(drop=True)  # just use a 0-based index
df_clean.head()

,month,hour,day_type,daylight_savings_status,indoor_dry_bulb_temperature,average_unmet_cooling_setpoint_difference,indoor_relative_humidity,non_shiftable_load,dhw_demand,cooling_demand,heating_demand,solar_generation
0,7,24,7,0,NaN,NaN,NaN,2.275800,0.0,0.0,0.0,0.0
1,8,1,1,0,NaN,NaN,NaN,0.851167,0.0,0.0,0.0,0.0
2,8,2,1,0,NaN,NaN,NaN,0.834600,0.0,0.0,0.0,0.0
3,8,3,1,0,NaN,NaN,NaN,0.838167,0.0,0.0,0.0,0.0
4,8,4,1,0,NaN,NaN,NaN,1.478433,0.0,0.0,0.0,0.0

In [2]:
from utils.timestep import Timestep
df_clean_cut = df_clean[Timestep.start_copy:Timestep.end_copy].copy()
df_clean_cut.fillna(0.0).to_csv("03_clean/Building_01_baseline.csv", index=False)